# ------ JWT ------
# Generar JWT_SECRET_KEY con: openssl rand -hex 32
JWT_SECRET_KEY=<token-random>
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# ------ Database ------
POSTGRES_USER=<usuario>
POSTGRES_PASSWORD=<contraseña>
POSTGRES_DB=internship_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
