# Ejemplo de como debe configurarse el .env para que docker compose funcione correctamente

JWT_SECRET_KEY=<token-random>

JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

POSTGRES_USER=<usuario>
POSTGRES_PASSWORD=<contraseña>
POSTGRES_DB=internship_db
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# Para levantar docker compose: sudo docker compose -f 'docker-compose.yml' up -d --build 'db'
# Para detener docker compose: sudo docker compose -f 'docker-compose.yml' down
# Para acceder a la base de datos: sudo docker exec -it internship_db psql -U <usuario> -d internship_db
# Para levantar la aplicación desde el directorio raíz: uv run uvicorn app.main:app --reload